.blog-content h1 {
  color: #000;
}
.blog-content h2 {
  font-size: 24px;
  color: #000;
  letter-spacing: -1px;
  line-height: 1.4;
  font-weight: 600;
  margin-bottom: 1.5rem;
  border-top: 1px solid #dee2e6;
  padding-top: 1rem;
}
.blog-content h3,
.blog-content h4,
.blog-content h5 {
  font-size: 20px;
  color: #000;
  letter-spacing: -1px;
  line-height: 1.4;
  font-weight: 600;
  margin-bottom: 1.5rem;
  border-top: 1px solid #dee2e6;
  padding-top: 1rem;
}
.MuiInputBase-input {
  background-color: #fff !important;
}
.blog-content p {
  color: #343a40;
  font-size: 18px;
  line-height: 29px;
}
.blog-content a {
  text-decoration: underline;
}
.blog-content img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.blog-content table {
  width: 100%;
  max-width: 92vw;
  border-collapse: collapse;
  margin: 1.5rem 0;
  font-size: 1rem;
  overflow-x: auto;
}

.blog-content table thead {
  background-color: #f2f2f2;
}

.blog-content table th,
.blog-content table td {
  border: 1px solid #ddd;
  padding: 0.75rem;
  text-align: left;
}

.blog-content table th {
  font-weight: bold;
  background-color: #f9f9f9;
}

.blog-content table tbody tr:nth-child(even) {
  background-color: #fafafa;
}

.blog-content table tbody tr:hover {
  background-color: #f1f1f1;
}
.blog-content table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
